#slicemasters {
  z-index: 1;
  display: flex;
  padding: 5rem 0;
  position: relative;
  align-items: center;
  justify-content: center;
  background: darken(#FFF9F9,1);

  .bg-image {
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    .img {
      width: 100%;
      height: 100%;
      filter: blur(.01rem);
      transform: scale(1.2);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .wrapper {
    gap: 3rem;
    width: 100%;
    margin: auto;
    display: grid;
    max-width: 48rem;
    grid-template-columns: auto 1fr;
  }

  .image {
    z-index: 1;
    position: relative;
    .img {
      width: 22rem;
      height: 30rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: var(--shadow);
    }
    &::before {
      top: 20px;
      left: -15px;
      right: 20px;
      z-index: -2;
      bottom: -15px;
      content: '';
      display: block;
      position: absolute;
      background: var(--yellow);
    }
  }

  .content {
    padding-top: 3rem;
    position: relative;

    .section-caption {
      margin: 0;
      font-size: 1.2rem;
      color: var(--red);
      margin-bottom: 1rem;
      letter-spacing: 0.02rem;
      font-family: var(--cursive);
    }

    .section-title {
      margin: 0;
      font-size: 2.5rem;
      color: var(--brown);
      letter-spacing: 0.02rem;
    }

    .section-description {
      line-height: 1.8;
      font-size: .9rem;
      font-weight: 500;
      color: var(--gray);
      margin-top: 1.25rem;
    }

    .signature {
      height: 5rem;
      margin-top: 1.5rem;
      object-fit: contain;
    }

    .pagination {
      bottom: 2rem;
      display: flex;
      position: absolute;
      align-items: center;
      text-align: center;
      border: 2px solid var(--red);
      .dot {
        width: 2rem;
        height: 1.5rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;
        color: var(--brown);
        background: var(--white);
        border-right: 2px solid var(--red);
        &:last-child {
          border-right: none;
        }
        &:hover {
          background: var(--yellow);
        }
        &.active {
          color: var(--white);
          background: var(--red);
        }
      }
    }

  }

}
